$black: #090c13;
$shadow: rgba(9, 12, 19, 0.15);
$overlay: rgba(9, 12, 19, 0.55);
$white: #ffffff;
$orange: #fe696a;
$orange-500: #ff4243;
$gray-200: #f3f5f9;
$gray-300: #e6e6e6;
$gray-500: #7e879c;
$gray-700: #373f50;
$gray-800: #2b3445;
$pink: #e8c4c0;
$yellow: #f7e6d5;

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    .lien {
        text-decoration: none;
        color: $white;
        background-color: $orange;
        padding: 2vh 4vh;
        border-radius: 8px;
        svg{
            height: 18px;
            width: 18px;
        }
    }
    .lien:hover{
        background-color: $orange-500;
    }
    .bordure{
        border:1px solid $gray-500;
    }
    h2{
        color: $gray-700;
        font-weight: 500;
        font-size: 2em;
        text-align: center;
        padding-top: 5vh;
    }
    
    h3{
        font-weight: normal;
    }

    header {
        height: 100vh;
        nav {
            margin-left: 25vh;
            margin-right: 25vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            ul {
                list-style: none;
                display: flex;
                gap: 5vh;
                
            }
            .icons{
                display: flex;
                gap: 2vh;
                svg{
                    height: 18px;
                    width: 18px;
                }
        }
        }
        .entete{
            background-image: url('../../images/bg-header.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 34px;
            color: $white;

            .entetecontenu{
                width: 400px;
                margin-left: 150px;
                padding-top: 100px;
                padding-bottom: 100px;
            .prix{
                padding-top: 5vh;
                padding-bottom: 5vh;
                display: flex;
                align-items: center;
                gap:5vh;

                span{
                    font-size: 1.5em;
                }
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                padding-top: 5vh;
                li {
                    padding-bottom: 2vh;
                    svg{
                        height: 18px;
                        width: 18px;
                        padding-right: 2vh;
                    }
                };
            }
            }
        }
    }

    .sect1{
        display: flex;
        justify-content: center;

        .container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        .headphone{
            margin-right: 5vh;
        }
        .choose{
            display: flex;
            flex-direction: column;

            .divPrix{
                display: flex;
                flex-direction: row;
                gap: 2vh;
            }
            .divChoose{
                height: 50px;
                display: flex;
                flex-direction: row;
                gap: 2vh;
                padding-bottom: 8vh;

                .divA{
                    border-color: $gray-300;
                    border-style: solid;
                    border-radius: 50%;
                    width: 52px;
                    height: 52px;
                    display: block;
                    a{
                        display: block;
                        width: 48px;
                        height: 48px;
                        text-decoration: none;
                        border-radius: 50%;
                        margin: 2px;

                        &#roseGold{
                            background-color: $pink;
                        }
                        &#gris{
                            background-color: $gray-300;
                        }
                        &#rose{
                            background-color: $yellow;
                        }
                        &#radio1{
                            background-image: url("../../images/color-radio01.png");
                        }
                        &#radio2{
                            background-image: url("../../images/color-radio02.png");
                        }
                        &#radio3{
                            background-image: url("../../images/color-radio03.png");
                        }
                    }
                    
                }
                .divA:hover{
                    border-color: $orange;
                }
            }    
        }
    }
    }

    .sect2{
        display: flex;
        justify-content: center;

        .divrow{
            display: flex;
            flex-direction: row;

            img{
                border-radius: 4px;
                width: 300px;
                height: 200px;
            }
        }
        .anim-pjt p{
            position: absolute;
            font-size: 1.2em;
            z-index: 1;
            opacity: 0;
        }
        .anim-pjt:hover p{
            opacity: 1;
            color:white;
            transition: opacity 1s ;
            cursor: pointer;
        
        }
        .anim-pjt{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 1vh;
        }
        .anim-pjt img{
            /* animation de l'image  */
            transition: all 2s;
            transition-duration: 1s;
        }
        .anim-pjt:hover img{
            /* animation de l'image  */
            filter: brightness(20%);
            /*transform: scale(1.2); -- pas de transformation de l'image*/
            cursor: pointer;
        }

    }
    .sect3{

        .sect3centre{
            display: flex;
            justify-content: center;

        .sect3container{
            display: flex;
            flex-direction: column;
            margin-right: 15vh;
            p {
                width: 300px;
                height: 100px;
            }

            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    padding-bottom: 1vh;
                }
            }

        }
    }
    }

    .sect4{
        background-color: $gray-200;
        padding-top: 5vh;
        padding-bottom: 10vh;
        display: flex;
        justify-content: center;

        .contentcardcust{
            display: flex;
            gap: 2vh;
            .cardcust{
                display: flex;
                flex-direction: column;
                gap: 2vh;
                .box {
                    background-color: $white;
                    width: 200px;
                    padding: 2vh;
                    border-radius: 8px;
                    box-shadow: 3px 5px 3px $gray-300;
                    color: $gray-500;
                    font-weight: bold;
                }
                .testimonials{
                    display: flex;
                    gap: 12px;
                    .divtext{
                        margin-top: 1vh;
                        P{
                            margin: 0;
                        }
                        .txtGras{
                            font-weight: bold;
                            color: $gray-700;
                        }
                        .txtGris{
                            font-weight: bold;
                            color: $gray-500;
                            font-size: 0.9em;
                        }
                    }

                    img{
                        width: 64px;
                        border-radius: 50%;
                    }
                }
            }

        }
    }

    footer{
        background-color: $gray-700;
        padding-bottom: 4vh;
        display: flex;
        justify-content: center;
        .divfoot{
            padding-top: 4vh;
            display: flex;
            gap:15vh;
            
            ul{
                list-style: none;
                color: $white;
                
                .marge{
                    padding-top: 1vh;
                }
                li{
                    color: $gray-500;
                    padding-bottom: 1vh;
                }
            }
        }
    }
}